body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
h1, h3 {
  display: inline;
  font-weight: normal;
  color: white;
}

h1 {
  font-size: 96px;
}

h3 {
  font-size: 48px;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f0f0f0; 
  position: fixed; 
  width: 100%; 
  top: 0; 
  z-index: 100; 
}

.nav a {
  color: #333; 
  font-size: 24px; 
  text-decoration: none; 
  padding: 10px; 
}

.nav :hover {
  color: #888888; 
}

.route-container {
  display: flex;
}
.route-container .nav {
  height: 100vh;
  width: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.route-container .nav a {
  font-size: 28px;
  padding-bottom: 1em;
}